// FOOTER
footer.footer
  p
    span.brand-name TUGON 
    | - Municipal Complaint Redress System | All complaints are public record
  script(src="/js/script.js" type="module")
  script(src="/js/toast.js")