#modal.modal(aria-hidden="true")
  .card.modal-card
    //- button#modalClose.close(aria-label="Close") ×
    //- h3.modal-card-title Error
    //- br
    //- .card.flash-card.error
    //-   p {{flash_error}}
    //- h3.modal-card-title Success
    //- br
    //- .card.flash-card.success
    //-   p {{flash_success}}
    //- h3.modal-card-title System Message
    //- .card.flash-card.info
    //-   p {{flash_info}}
    h3#modalTitle.modal-card-title
    #modalContent This is the default content for the modal.
    //- .footer-actions
    //-   .button-container
    //-     button#modalCancelBtn.btn-secondary.flex-1(type="button") Cancel
    //-     button#modalConfirmBtn.btn-danger.flex-1(type="button") Confirm